POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
NODE_ENV=
APP_PORT=
JWT_SECRET=
 
EMAIL=
EMAIL_PASSWORD=
 
APP_STORAGE_PATH=
 
FILE_STORAGE_PATH=
VITE_STRIPE_PUB=
VITE_STRIPE_SECRET_KEY=
 